html{scroll-behavior: smooth; overflow-x: hidden;}

*{
    box-sizing: border-box;
    margin:0 auto;
    letter-spacing: 1px;
}

:root{
    --font-size-sm: 8px;
    --font-size-md: 12px;
    --font-size-lg: 18px;
    --font-size-xl: 27px;
    --font-size-xxl: 42px;


}

body{
    /* background-image: linear-gradient(to bottom, #000000, #2c2c2c, #1d1d1d); */
   background-color: white;
    width: 100vw;
    height: 100vh;
    
    font-family: Montserrat;
    font-size: var(--font-size-md);
    line-height: 1.6em;
    color: black; 
    
}

.main-head{
    max-width: 3840px;
    height: auto;
    display: flex;
    margin-top: 20px;
    border: 2px solid white;
    margin-bottom: 25px;
    
}

.heading{
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}

h1{
    font-size: var(--font-size-xxl);
    margin-right: 1px;
    animation: appear 2s ease 1;
}

@keyframes appear{
    0% {opacity:0}
    75% {opacity:0}
   100% {opacity:1}
}

#head-tag{
    font-size: var(--font-size-lg);
    margin-left: 20px;
    animation: appear 4s ease 1;
}

.anime{
    position: relative;
}

.anime-rect{
    background-color: black;
    width: 4.8px;
    height: 22px;
    margin-bottom: -8px;
    animation: appear 2s ease 1;
}

.anime-ball{
    position: absolute;
    top: -6.5px;
    left: -.75px;
    background-color: rgb(0, 255, 64);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: appear 4s ease-in-out 1, ball .6s ease 3s infinite alternate-reverse;
}

@keyframes ball {
    0% {top:-30px;left:-.5px;}
    100% {top:-8px;left:-.5px;} 
}


.navbar{
    list-style-type: none;
    display: flex;
    animation: appear 4s ease 1;
    
}



.navbar a{
    text-decoration: none;
    color: black;
    font-size: var(--font-size-lg);
    padding: 10px 15px;
    transition: transform 0.5s ease-out;
    text-align: center;  
}

.navbar a:hover{
    transform: translateY(5px);
    padding: 10px 15px;
    background-color: green;
    border: 1px solid rgb(0, 124, 0);
    border-radius: 12px;
    color: white;
}

/* animation scroll*/
@keyframes profile-ani2 {
    0% {opacity:0;transform: translateY(-200px);}
    90% {opacity:0;transform: translateY(-200px);}
    100% {opacity:1;transform: translateY(0px);}
}


.scroll-container{
    display: flex;
    margin: 50px;
    position: relative;
}


.scroll-element img{
    flex: 1;
    margin: 0 auto;
    max-width: 3840px;
    height: auto;
    filter: grayscale(100%);
    transition: all .6s ease;
    animation: appear 6s ease 1;
    border-radius: 15px;
}

.scroll-element img:hover{filter: none;transform: scale(1.05);box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);}


.scroll-caption{
  font-size: var(--font-size-xxl);
  line-height: 2.5em;
  text-align: center;
  text-shadow: .5px -.75px white;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);
}

#l1{
    color: white;
    font-size: var(--font-size-xl);
   animation: profile-ani2 8s ease 1 alternate;
}

#l2{
    color: rgb(0, 247, 255);
    animation: profile-ani2 7.75s ease 1 alternate;
 }

 #l3{
    color: rgb(255, 34, 34);
    animation: profile-ani2 7.5s ease 1 alternate;
 }

 #l4{
    color: rgb(60, 255, 0);

    animation: profile-ani2 7.25s ease 1 alternate;
 }

 #l5{
    color: rgb(255, 123, 0);

    animation: profile-ani2 7s ease 1 alternate;
 }




.mobile-menu, .hamburger{
    display: none;
}

.no-scroll{
    overflow: hidden;
}

/* Page Content */


#page_skills{
    padding: 20px;
    background-image: linear-gradient(to bottom,rgb(255, 228, 228),rgb(255, 204, 204),rgb(255, 174, 174));
}

#page_apps{
    background-image: linear-gradient(to bottom,rgb(230, 255, 228),rgb(214, 255, 204),rgb(177, 255, 174));
    padding: 20px;
}

#page_education{
    background-image: linear-gradient(to bottom,rgb(211, 231, 255),rgb(204, 224, 255),rgb(174, 212, 255));
    padding: 20px;
}

#page_contact{
    background-image: linear-gradient(to bottom,rgb(255, 245, 211),rgb(255, 241, 204),rgb(255, 240, 174));
    padding: 20px;

}

h3{font-size: 24px; padding: 20px; margin-bottom: 20px;}

.page-heading{
    margin-top: 300px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 200px;
    text-shadow:  -.75px 1px rgb(255, 255, 255);

}


.row{
    background-image: linea;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
       justify-items: center;
       align-content: center;
       align-items: center;
       align-self: center;
   

}

.card{
    margin-bottom: 20px;
    padding: 40px;
    background-image: linear-gradient(to bottom, rgb(197, 228, 255),rgb(161, 225, 255),rgb(125, 214, 255));
    border-radius: 15px;
    transition: .6s all ease;
}

.card-body img{background: white; border-radius: 8px; padding: 8px 5px;;}

.card-name{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 800;

}

.card-footer{
    position: relative;
    width: 100%;

}

.card-name{
    text-shadow:  -1.25px .75px rgb(255, 255, 255);
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
    margin-bottom:25px;
}


.skill-level{
    width: 0;
    
    position: absolute;
    top: 40px;
    margin: 5px 0px;
    padding: 5px 0px;
    text-align: right;

 background-image: linear-gradient(to right, rgb(50, 255, 50), rgb(0, 255, 0), rgb(0, 196, 0));


color: white;
font-size: 16px;
font-weight: 400;
border-radius: 5px;
transition: all 1s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,.5);

}

.flip-box {
    margin-top: 100px;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    border-radius: 15px;
    transform: scale(.9);
    
    cursor: pointer;
  }

  .flip-box-front img{max-width:220px; height: auto; border-radius: 3%; margin-top: 10px; border:5px solid rgb(255, 255, 255)}
  .flip-box-back img{max-width:200px; height: auto; border-radius: 3%; margin-top: 10px; border:5px solid rgb(34, 34, 34)}


  .flip-box-front:hover{
      transform: scale(1.05);
      box-shadow: 10px 10px 20px 0px rgba(0,0,0,.5);

  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

  }
  
  .flip-box-anime {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 25px;
  }
  
  .flip-box-front {
    background-image: linear-gradient(to bottom, rgb(255, 203, 203),rgb(255, 161, 161),rgb(255, 125, 125));
    color: black;
    transform: scale(.9);
    transition: all .3s ease;
  }

  .flip-box-front h2{
    text-shadow:  -1.25px .75px rgb(255, 255, 255);
      margin: 25px 0px;
      font-size:32px;

  }

  .flip-box-back h2{
      margin: 0px 8px;
      font-size: 24px;
      line-height: 2em;
     animation: color 1s infinite alternate-reverse ease;
  }

  
  
  .flip-box-back {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(68, 68, 68), rgb(26, 26, 26));
    color: white;
    transform: rotateY(180deg) scale(1.33);
  }

  
.btn {

    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid rgb(255, 125, 125);
    letter-spacing: 2px;
    padding: 20px 60px;
    overflow: hidden;
    border-radius: 25px;
    margin-top: -50px;
    transition: all 0.3s ease;
    outline: none;
  }
  
  .btn:hover {
    background-image: linear-gradient(to bottom, rgb(255, 203, 203),rgb(255, 161, 161),rgb(255, 125, 125));
    border: white 2px solid;        
    transform: scale(1.1);
  }

  .btn:focus-within{
      background: white;
  }
  
  .paper-head{
      margin:20px 0px;
      font-size:32px;
      align-self: center;
  }

  .paper{
      display: flex;
      flex-direction: column;
      border-radius: 15px;
  }

 .paper-content{
    width: auto;
    height:auto;
}

.row-C{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.X,.XII,.ISE{
    padding: 30px;
}

table{
    width: 100%;
}

.X{
    background: rgb(88, 255, 191);
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 25px;
}

.XII{
    background: rgb(128, 187, 255);
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 40px;
}

.ISE{
    background: rgb(216, 159, 243);
    border: 1px solid white;
    border-radius: 15px;
    margin-bottom: 25px;
}

thead td{
    border-bottom: 1px solid black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.data{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: rgb(17, 0, 94);
}

th{text-align: center;}

  /* Style the container/contact section */

  
  /* Create two columns that float next to eachother */
  

 
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#links{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
}
  
  
  #links img{
      width:20%; 
      margin:50px 0;
      align-self: center;
       text-decoration: none;
       text-align: center;
  }

  #phone{animation: foot-anime 1s ease-out .5s alternate-reverse infinite;  }
  #mail{animation: foot-anime 1s ease-out .8s alternate-reverse infinite;  }
  #github{animation: foot-anime 1s ease-out alternate-reverse infinite;  }


  .column img{
      margin-left: 50px;
  }

  #resume{
    transition: all 0.3s ease;
    border-radius: 10px;
    border: 2px solid white;
  }

  #resume:hover{
    transform: scale(1.05);
  }


  @keyframes foot-anime {
      0% {transform: translateY(20px);}
      100% {transform: translateY(0px);}
      
  }

  

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column a{
        align-items: center;
        text-decoration: none;
        color: black;
        justify-self: center;
      font-size: 4px;
      margin: 0;
    }
  }





@media screen and (max-width: 1440px){
    h3{font-size: 18px;}

    .list-item{display: none;}
    .navbar a{display: none;}
    .main-head{margin-bottom: 50px; padding-top: 10px;}
    h1{font-size: 56px;}
    #head-tag{font-size: var(--font-size-lg)}
    .anime-rect{
        background-color: black;
        width: 6px;
        height: 28px;
        margin-bottom: -12px;
        animation: appear 2s ease 1;
    }
    
    .anime-ball{
        position: absolute;
        top: -7px;
        left: -2px;
        background-color: rgb(0, 255, 64);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        animation: appear 4s ease-in-out 1, ball .6s ease 3s infinite alternate-reverse;
    }

    .hamburger, .mobile-menu{
        list-style-type: none;
        display: block;
    }

    .hamburger{ animation: profile-ani2 5s ease 1 alternate; }

    #top,#bot{transition: all 0.6s ease}


    .open #mid{  visibility: hidden; }
    .open #top{   transform: rotate(45deg) translateY(6px) translateX(6px); }
    .open #bot{   transform: rotate(-45deg) translateY(1px) translateX(-1px);}

    #top{
        background-color: black;
        height: 4px;
        width: 36px;
    }

    #mid{
        background-color: rgb(0, 255, 0);
        height: 4px;
        width: 36px;
        transform: translateY(7px);
        

    }

    #bot{
        background-color: rgb(255, 0, 0);
        height: 4px;
        width: 36px; 
        transform: translateY(14px);

    }

    .hamburger{
        position: relative;
        z-index: 200;
    }

    .mobile-menu a{
        font-size: var(--font-size-lg);
        text-decoration: none;
        color: white;
        margin: 15px 25px;
        text-align: center;
    }

    .mobile-menu{
        position: absolute;
        opacity: 0;
        right: 150px;
        top: 0px;
        z-index: 100;
        padding: 100px;
        width: 100px;
        height: 100vh;
        transition: all 0.6s ease;
        background-color: green;
        transform: translateX(500px);
    }

    .hidden{
        display: block;
        opacity: 1;
        transform: translateX(150px);
    }

    .card img{width:75%; display: flex;}
    .card {width: 25%; padding: 40px 10px;}
    .flip-box{width: 300px; height:300px;}
    .flip-box img{width:250px;}
    .flip-box-front h2{font-size: 24px; margin-top:5px}
    .flip-box-back h2{
        font-size: 8px; margin-top:8px; line-height: 1.5em;
    }
}





@media screen and (max-width: 1024px){
.card-name{ font-size: 16px;}
.page-heading{font-size: 100px;}
}


@media screen and (max-width: 750px){
    h3{font-size: 12px;}

    .list-item{display: none;}
    .navbar a{display: none;}
    .scroll-caption{font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .scroll-element img{width:240px}
    #l1{font-size: var(--font-size-lg);}
    h1{font-size: var(--font-size-lg)}
    #head-tag{font-size: 4px;}
    .anime-rect{
        background-color: black;
        width: 2px;
        height: 11px;
        margin-bottom: -3px;
        animation: appear 2s ease 1;
    }
    
    .anime-ball{
        position: absolute;
        top: -5px;
        left: -2px;
        background-color: rgb(0, 255, 64);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        animation: appear 4s ease-in-out 1, ball .6s ease 3s infinite alternate-reverse;
    }

    .mobile-menu, .hamburger{
        list-style-type: none;
        display: block;
    }

    .hamburger{ animation: profile-ani2 5s ease 1 alternate; }


    #top,#bot{transition: all 0.6s ease}

    .open #mid{  visibility: hidden; }
    .open #top{   transform: rotate(45deg) translateY(6px) translateX(6px); }
    .open #bot{   transform: rotate(-45deg) translateY(3px) translateX(-3px);}

    #top{
        background-color: black;
        height: 2px;
        width: 24px;
    }

    #mid{
        background-color: rgb(0, 255, 0);
        height: 2px;
        width: 24px;
        transform: translateY(7px);
        

    }

    #bot{
        background-color: rgb(255, 0, 0);
        height: 2px;
        width: 24px; 
        transform: translateY(14px);

    }

    .hamburger{
        position: relative;
        z-index: 200;
    }

    .mobile-menu a{
        text-decoration: none;
        color: white;
        margin: 15px 25px;
        
    }

    .mobile-menu{
        position: absolute;
        opacity: 0;
        right: 160px;
        top: 0px;
        z-index: 100;
        padding: 100px;
        width: 100px;
        height: 100vh;
        transition: all 0.6s ease;
        background-color: green;
        transform: translateX(500px);
    }

    .hidden{
        display: block;
        transform: translateX(160px);
        opacity: 1;
    }

    
    .page-heading{ padding:15px 0px;}
    .card{margin-bottom: 20px; padding:3px; width: 75px;}
    .card:hover{transform: scale(1.33);}
    .skill-level{
        top: 18px; padding: 0px; font-size: 8px;
    }
    .card-name{ font-size: 3px;text-shadow: none; margin-top: 5px;}
    .page-heading{font-size: 50px; margin-top: 15px; margin-bottom: 15px;}
    .flip-box{width: 120px; height:120px;}
    .flip-box img{width:60px;}
    .flip-box-front h2{font-size: 8px; margin-top:5px}
    .flip-box-back h2{
        font-size: 3px;
    }

    .btn{
        padding: 5px;
        font-size: 5px;
    }

    .X,.XII,.ISE{
        padding: 10px;
    }
    
    table{
        width: 100%;
    }
    
    .X{
        background: rgb(88, 255, 191);
        border: 1px solid white;
        border-radius: 15px;
        margin-bottom: 25px;
    }
    
    .XII{
        background: rgb(128, 187, 255);
        border: 1px solid white;
        border-radius: 15px;
        margin-bottom: 40px;
    }
    
    .ISE{
        background: rgb(216, 159, 243);
        border: 1px solid white;
        border-radius: 15px;
        margin-bottom: 25px;
    }
    
    thead td{
        border-bottom: 1px solid black;
        font-size: 8px;
        font-weight: 600;
        padding: 3px;
        text-align: center;
    }
    
    .data{
        font-size: 8px;
        font-weight: 600;
        text-align: center;
        color: rgb(17, 0, 94);
    }
    
    th{text-align: center;}
    
}



